/* All Common css start */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --yellow: #f0c45c;
  --green: #1cbe59;
  --white: #ffffff;
  --wrapper: #4b4f5c;
  --themecolor: #f75023;
  --body_dark: #2b2d33;
  --footer_background: #3f4453;
  --paragraph: #b3b0c3;
  --footerparacolor: #555555;
  --footerh5: #363636;
  --Jost: "Jost", sans-serif;
  --opensans: "Open Sans", sans-serif;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  height: 50px !important;
  border-radius: 10px;
  background: gray;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}
ul,
ol,
li {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  background: var(--body_dark);
  color: var(--white);
}

.common_btn_one {
  color: #ffffff !important;
  font-family: var(--Jost);
  font-weight: 500;
  font-size: 16px;
  border: 1px solid var(--themecolor);
  border-radius: 50px;
  padding: 15px 30px;
  background: transparent;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.common_btn_one::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: var(--themecolor);
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: all linear 0.3s;
}
.common_btn_one:hover::after {
  height: 0;
}
.section_heading {
}
.section_heading h3 {
  color: var(--themecolor);
  font-size: 22px;
  padding-bottom: 6px;
  font-weight: 400;
  font-family: var(--Jost);
}
.section_heading h2 {
  color: var(--white);
  font-size: 48px;
  line-height: 1.25;
  padding-bottom: 16px;
  font-weight: 500;
  font-family: var(--Jost);
}
/* .common_btn_one:hover{

} */
/* All Common css end */

.back_to_top{
  position: fixed;
  right: 10px;
  bottom: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.back_to_top a{
  color: #fff;
  font-size: 16px;
  transform: rotate(90deg);
}
.back_to_top .line{
  width: 2px;
  height: 100px;
  background: #2e9c5895;
  position: relative;
}
.back_to_top .line .process_line{
  width: 2px;
  height: 0%;
  background: #1cbe59;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1100;
}
/* Cursor */

.cursor_round{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  outline: 1px solid var(--themecolor);
  position: absolute;
  transition: all linear .2s;
  z-index: 9999;
  pointer-events: none;
}
.cursor_round.big_mouse{
  outline: 1px solid transparent;
}
.cursor_point{
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--themecolor);
  position: absolute;
  /* left: 50%;
  top: 50%; */
  transform: translate(-50%, -50%);
  transition: all linear 0.1s;
  z-index: 9999;
  pointer-events: none;
}
.cursor_point.big_mouse{
  width: 60px;
  height: 60px;
  background: #f751237a;
}


/* ===================================
            Navbar part Start
=================================== */
#navbar {
  background: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 0;
}
.main_menu li {
  margin: 0 8px;
}
.main_menu li a {
  color: var(--white);
}
.main_menu li a:hover {
  color: var(--themecolor);
}
.download_cv a {
  padding: 14px 26px;
  border-radius: 30px;
  font-size: 14px;
  color: var(--themecolor);
  font-family: var(--Jost);
  border: 2px solid var(--themecolor);
  background: transparent;
  line-height: 1;
  font-weight: 500;
}
/* ===================================
            Navbar part End
=================================== */

/* ===================================
            Banner part Start
=================================== */
#banner {
  background: url(../images/bg-image.jpg) no-repeat center/cover;
  padding-top: 145px;
  padding-bottom: 43px;
}
.banner_info {
}
.banner_info h4 {
  font-size: 25px;
  font-weight: 400px;
  font-family: var(--Jost);
  color: var(--themecolor);
}
.banner_info h1 {
  font-size: 60px;
  font-weight: 400px;
  font-family: var(--Jost);
  color: var(--white);
  margin-bottom: 30px;
}
.banner_info h5 {
  font-size: 19px;
  font-weight: 400px;
  font-family: var(--opensans);
  color: var(--white);
  margin-bottom: 30px;
}
.banner_info h5 .green {
  color: var(--green);
}
.banner_info h5 .yellow {
  color: var(--yellow);
}
.banner_info p {
  color: var(--white);
  font-weight: 400;
  font-family: var(--opensans);
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 30px;
}
.banner_info .banner_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner_info .banner_btn .about_me {
}
.banner_info .banner_btn span a {
}

/* .banner_image{
    height: 400px;
} */
.man_image {
  height: 400px;
  width: 320px;
  margin: 0 auto;
  position: relative;
}
.man_image .illustrator {
  background: #390000;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  animation: move 2s linear infinite alternate;
}
.man_image .illustrator svg {
  fill: #ff9a00;
  width: 25px;
  height: 25px;
}
.man_image .ps {
  background: #390000;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: 100px;
  animation: ps 2s linear infinite alternate;
}
.man_image .ps svg {
  fill: #ff9a00;
  width: 25px;
  height: 25px;
}

@keyframes move {
  0% {
    top: 0;
  }
  100% {
    top: -20px;
  }
}
@keyframes ps {
  0% {
    top: 100px;
  }
  100% {
    top: 80px;
  }
}
.mouse {
  text-align: center;
  position: relative;
}
.mouse #wheel {
  animation: wheel 1s linear infinite alternate;
}

@keyframes wheel {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(40px);
  }
}

/* ===================================
            Banner part End
=================================== */

/* ===================================
            process part start
=================================== */
#process {
  padding: 120px 0 90px 0;
}
.process_item {
}
.process_item .image {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.process_item .image svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}
.process_item .text {
  text-align: center;
}
.process_item .text h3 {
}
.process_item .text p {
}

/* ===================================
            process part End
=================================== */

/* ===================================
            About part End
=================================== */
#about {
  padding: 90px 0;
  position: relative;
}
.about_top_image {
  position: absolute;
  left: 50px;
  top: 0;
  z-index: 110;
}
.about_bottom_image {
  position: absolute;
  right: 50px;
  bottom: 0;
  z-index: 110;
}
#about .section_heading h2 {
  padding-right: 100px;
}
.about_image {
  position: relative;
  margin-right: 50px;
}
.about_image .counter_item {
  width: 230px;
  border-radius: 10px;
  background: var(--wrapper);
  padding: 12px 25px;
}
.about_image .counter_item .count {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
}
.about_image .counter_item .count .counter {
  color: var(--green);
  font-size: 60px;
  font-family: var(--Jost);
  font-weight: 400;
}
.about_image .counter_item .count .yellow {
  color: var(--yellow);
  font-size: 60px;
  font-family: var(--Jost);
  font-weight: 400;
}
.about_image .counter_item .count .yellow .counter {
  color: var(--yellow);
}
.counter_item .text {
  font-size: 17px;
  font-weight: 500;
  font-family: var(--Jost);
  padding: 0 17px;
}
.counter_success {
  position: absolute;
  top: 120px;
  left: -50px;
  z-index: 100;
}
.counter_project {
  position: absolute;
  bottom: 70px;
  right: -55px;
  z-index: 100;
}
.about_text {
  padding-left: 60px;
}
.about_text p {
  padding-bottom: 20px;
}
/* ===================================
            About part End
=================================== */

/* ===================================
            portfolio part Start
=================================== */
#portfolio {
  padding: 90px 0;
}
#portfolio .section_heading {
  text-align: center;
  width: 600px;
  margin: 0 auto;
}
.portfolio_menu {
  padding-top: 78px;
  padding-bottom: 56px;
}
.portfolio_menu ul {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.portfolio_menu ul li {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--Jost);
  cursor: pointer;
}
.portfolio_menu ul li.active {
  color: var(--themecolor);
}
.portfolio_item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}
.portfolio_item .move_text{
  background: #1cbe59;
  color: #fff;
  position: absolute;
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.portfolio_item .move_text.show{
  opacity: 1;
  visibility: visible;
}
.portfolio_item .image {
  border-radius: 10px;
  overflow: hidden;
  background: red;
  transition: all linear 0.3s;
}

.portfolio_item .image a {
  width: 100%;
  height: 100%;
  transition: all linear 0.3s;
}
.portfolio_item .image img {
  height: 100% !important;
  width: 100% !important;
  object-fit: cover;
  transition: all linear 0.3s;
}
.portfolio_item .image_big {
  height: 453px;
}
.portfolio_item .image_small {
  height: 240px;
}

.portfolio_item .image:hover img {
  transform: scale(1.2);
}

/* 
.portfolio_filter{
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}
.portfolio_filter .image{
  border-radius: 10px;
  overflow: hidden;
  height: 250px !important;
}

.portfolio_filter .image:nth-child(1){

  grid-row: span 2;
  grid-column: span 1;
  height: 150px;
}
.portfolio_filter .image:nth-child(2){
  grid-row: span 1;
  grid-column: span 1;
  height: 100px;
}
.portfolio_filter .image:nth-child(3){
  grid-row: span 2;
  grid-column: span 1;
  height: 150px;
}
.portfolio_filter .image:nth-child(4){
  grid-row: span 1;
  grid-column: span 1;
  height: 100px;
}
.portfolio_filter .image:nth-child(5){
  grid-row: span 2;
  grid-column: span 1;
  height: 150px;
}
.portfolio_filter .image:nth-child(6){
  grid-row: 3 ;
  grid-column: span 1;
  height: 100px;
}
.portfolio_filter .image a img{
  transition: all linear .3s;
  height: 100%;
}
.portfolio_filter .image:hover a img{
  transform: scale(1.1);
} */


/* ===================================
            portfolio part End
=================================== */

